/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #333333
}

#footer a {
    color: #fce45c;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

.navbar-default {
  background-color: #111;
  border-color: #cb0d07;
}

.navbar-default .navbar-brand {
    color: #ffffff;
    padding: 3px; 15px;
}

.navbar-default .navbar-nav > .active > a {
    /* background-color: #405480; */
    background-color: #099;
    color: #ffffff;
}

.navbar-default .navbar-nav > .active > a:hover {
    background-color: #fce45c;
    color: #000000;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: #fce45c;
    color: #000000;
}

#logo {
    height: 44px;
}

/**
Table of contents
*/
#toc {
}

#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#toc li {
    padding: 5px 10px;
}

#toc a {    
    text-decoration: none;
    display: block;
}

#toc .toc-h2 {
    padding-left: 10px;
}

#toc .toc-h3 {
    padding-left: 20px;
}

#toc .toc-active {
    width: 20em;
    background: #099;
    box-shadow: inset -5px 0px 10px -5px #000;
}

#toc .toc-active a {
  color: #ffffff;
}

/** GitHub banner */