name: CI

on:
  push:
    branches-ignore:
      - master
jobs:
  build:
    name: Build and Test
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        jdk: [21]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up JDK
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: ${{ matrix.jdk }}
          distribution: temurin
      - name: Cache Maven packages
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v.5.0.2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Maven Build
        run: mvn -V -B -DskipTests=true install
      - name: Maven Test
        run: mvn -B verify
